/* GLOBAL */
/* ?Reset css -> xóa bỏ mặc định của trình duyệt */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Đảm bảo kích thước như khai báo ban đầu */
}

/* ?Khai bao kich thuoc chu */
html{
    font-size: 16px; /* ?Không khai báo font-size thì 1 rem có gt mặc định 16px */
}

/* ?Khai báo mặc định cho trang web */
body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
    
}

button{
    background-color: #ff0e83;
    color: #fff;
    border: 1px solid white;
    padding: 13px 32px;
    font-size: 0.875rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;

    transition: all .5s;
}

button:hover{
    background-color: white;
    color: black;
    border: 1px solid #ff0e83;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

.clear{
    clear: both;
}

/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px 0px;
}

.header__content{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around; /* ?Căn vị trí theo chiều ngang */
    align-items: center; /* ?Căn vị trí theo chiều dọc */
}

.header__content ul{
    list-style: none;
}

.header__content ul li{
    display: inline;
    margin: 0 1rem;
}

.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    /* transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear; */
    transition: all 0.5s; /* ?Khai báo nhanh */
}

.header__content ul .active a{
    color: #ff0e83;
}

.header__content ul a:hover{
    color: #ff0e83;
}

.header__content p{
    color: white;
    font-size: 2.3rem;
}

/* CAROUSEL */
.carousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center; /* căn ra giữa khi thẻ cha có 1 thẻ con trức tiếp */
}
.carousel__content h1{
    font-size: 3.5rem;
}

.carousel__content p{
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO */
.intro{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4,25%); */
    grid-template-columns: repeat(4,1fr);
}

.intro__ab1{
    /* grid-column: 2 / 4; */ /* ?bắt đầu ở line 2 và kết thúc ở line 4 */
    /* Viet cach 2 */
    grid-column: 2 / span 2;
}

.intro__bake{
    grid-column: 1 / span 2;
}

.intro__ab4{
    grid-column: 3 / 5;
}

.intro__item img{
    width: 100%;
    display: block;
}

.intro__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.intro__text{
    padding: 0 32px;
}

.intro__item h3{
    color: white;
    font-size: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro__item p{
    color: #c1c1c1;
    font-size: 0.875rem;
    line-height: 1.7rem;
}

.intro .intro__item:first-child{
    background-color: #4e2a84;
}

.intro .intro__item:nth-child(3){
    background-color: #ff0e83;
}

.intro .intro__item:nth-child(4){
    background-color: #ed6498;
}

.intro .intro__item:nth-child(6){
    background-color: #836eaa;
}

.intro .intro__item:nth-child(8){
    background-color: #4e2a84;
}

/* NUMBER */
.number{
    padding: 70px 0;
}

.number__content{
    display: flex;
    text-align: center;

    width: 70%;
    margin: 0 auto;
    justify-content: center;
    /* align-items: center; */
}

.number__item p:first-of-type{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}

.number__item p:last-of-type{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}

/* SERVICE */
.service{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0px;
}

.service h2{
    color: white;

}

.service__content{
    width: 70%;
    display: flex;
    margin: 0 auto;
}

.service__item{
    padding: 0 20px;
}

.service__item i{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    color: #4e2a84;
    font-size: 3.75rem;
    transition: all .5s;
}

.service__item h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 17px 0;
    text-overflow: ellipsis;
    height: 58px;
}

.service__item p{
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}

.service__item button{
    padding: 12px 27px;
    border-width: 2px;
}

.service__item:hover i{
    color: #ff0e83;
}

/* GALLERY */
.gallery{
    padding: 70px 0;
}

.gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-gap: ; */ /* Tuong tu gap */
    gap: 30px;
    padding: 0 15px;
}

.gallery__content .gallery__item:first-of-type{
    grid-column: 1 / span 2;
}

.gallery__content .gallery__item:last-of-type{
    grid-column: 3 / 5;
}

.gallery__content img{
    display: block;
    width: 100%;
    height: 100%;
}

.gallery__item{
    position: relative;
    overflow: hidden; /* ?Khai báo ở thằng cha... khi các thằng con bị tràn ra ngoài thẻ cha, thì con sẽ bị ẩn đi.  */
}

.gallery__overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 132, 163, 0.2);
    padding: 38px 28px;
    text-align: right;
    color: white;
}

.gallery__overplay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s;
}

.gallery__item:hover .gallery__overplay p{
    opacity: 1;
    transform: translate(0);
}

.gallery__overplay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}

.gallery__item:hover .gallery__overplay h3{
    transform: translateY(0);
        
}

.gallery__overplay h3 span{
    font-weight: 300;
}

/* .gallery__overplay h3::before{
    content: "The ";
}

.gallery__overplay h3::after{
    content: "! ";

} */

.gallery__overplay h3::after{ /* ?::Before | ::after : Thêm nội dung trước và sau 1 thẻ con inline cho thẻ */
    content: "";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    transform: translateY(20px); /* Transform: di chuyển theo trục tọa độ xy (lên xuống, trái phải). ==> set translateX - translateY */
    opacity: 0;
    transition: all .5s;
}

.gallery__item:hover .gallery__overplay h3::after{
    transform: translateY(0);
    opacity: 1;
}

/* TEAM */
.team{
    background-color: #4e2a84;
    padding: 70px 0;

}

.team h2{
    color: white;
}

.team__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px 30px;

    width: 75%;
    margin: 0 auto;
}

.team__content img{
    width: 100%;
    display: block;
}

.team__item{
    position: relative;
}

.team__item h3{
    font-size: 1.3rem;
}

.team__item p{
    font-size: 0.875rem;
    line-height: 28px;
}

.team__title{
    width: 100%;
    background-color: #ff0e83;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    opacity: 1;
    transition: all .5s;
}

.team__details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 100px 40px;
    opacity: 0;
    transition: all .5s;
}

.team__item:hover .team__title{
    opacity: 0;
}

.team__item:hover .team__details{
    opacity: 1;
}

.team__details h3{
    color: #ff0e83;
}

.team__text{
    margin: 8px 0;
}

.team__sosicals{
    margin-top: 24px;
}

.team__sosicals i{
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 0 5px;
    transition: all .5s;
}

.team__sosicals i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}

/* FEEDBACK */
.feedback{
    background-image: url(../img/cc1.jpg);
    background-size: cover;
    padding: 70px 0;
}

.feedback h2{
    color: white;
}

.feedback__content{
    width: 75%;
    margin: 0 auto;
    border: 3px solid #ff0e83;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 32px;
}

.feedback__content i{
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}

.feedback__content p{
    line-height: 30px;
    letter-spacing: 1.3px;
}

.feedback__content .feedback__name{
    color: white;

}

.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
}

.feedback__content .owl-theme .owl-dots .owl-dot.active  span{
    background-color: black;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none; /* ?Tắt border mặc định của trình duyệt */
}

/* CONTACT */
.contact{
    padding: 70px 0;
}

.contact__form form{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 30px;
}

.contact__form textarea, .contact__form button{
    grid-column: 1 / span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.contact__form input{
    padding: 15px;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.5s;
}

.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25); /* ? */

}

.contact__form textarea{
    border: 1px solid black;
    resize: none;
}

.contact__form textarea:focus{
    outline: none;
}

.contact__form textarea::placeholder{
    color: black;
}

.contact__form button{
    border-radius: 0;
    color: black;
}

.contact__form button:hover{
    color: white;
    background-color: black;
    border-color: black;
}

.contact__map{
    padding: 0 auto;
    
}
.contact__map iframe{
    display: block;
    width: 90%;
    margin: 70px auto;
}

.contact__info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.contact__info i{
    font-size: 2rem;
    color: #4e2a84;
}

.contact__info p{
    font-size: 0.8rem;
    margin: 10px;
}